<h2>
    Your list of video</h2>

<div class="videospecial clearfix">
    <span class="executeVideo" data-manifest="sintel"><img src="/css/images/thumbnails/sintel.png" class="vidthumb"></span>
    <div class="context">
        <h4><span class="executeVideo" data-manifest="sintel">sintel</span></h4>
        <span class="views">14,003,756 views</span>
        <!--<span class="uploader">uploaded by <a-->
        <!--href="http://www.youtube.com/user/4minuteofficial">4minuteofficial</a></span>-->
    </div>
</div>

<div class="videospecial clearfix">
    <span class="executeVideo" data-manifest="microsoft_azure"><img src="css/images/thumbnails/azure.png" class="vidthumb"></span>
    <div class="context">
        <h4><span class="executeVideo" data-manifest="microsoft_azure">Microsoft Azure Service trailer</span></h4>
        <span class="views">1,366,181 views</span>
        <!--<span class="uploader">uploaded by <a href="http://www.youtube.com/user/Phalanx3891">Phalanx3891</a></span>-->
    </div>
</div>

<div class="videospecial clearfix">
    <span class="executeVideo" data-manifest="art_of_motion"><img src="css/images/thumbnails/art_of_motion.png" class="vidthumb"></span>
    <div class="context">
        <h4><span class="executeVideo" data-manifest="art_of_motion">Art of motion</span></h4>
        <span class="views">15,554,612 views</span>
        <!--<span class="uploader">uploaded by <a-->
        <!--href="http://www.youtube.com/user/StanfordUniversity">StanfordUniversity</a></span>-->
    </div>
</div>
